@font-face {
    src: url("../Fonts/MullerBlack.ttf");
    font-family: MullerBlack;
}@font-face {
    src: url("../Fonts/MullerBold.ttf");
    font-family: MullerBold;
}@font-face {
    src: url("../Fonts/MullerExtraBold.ttf");
    font-family: MullerExtraBold;
}@font-face {
    src: url("../Fonts/MullerReg.ttf");
    font-family: MullerRegular;
}
body{
    margin: 0;
    font-family: MullerRegular, sans-serif;
}

.header{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
}
.header__container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.logo{
    display: flex;
    align-items: center;
}
.logo .logo__text{
    font-size: 24px;
    font-family: MullerBlack,sans-serif;
    color: rgb(255, 196, 104);
    text-transform: uppercase;
    line-height: 1.2;
    width: 85px;
    margin-left: 8px;
}

.header__menu{
    margin: 0 261px 0 248px;
}
.menu{

    width: 490px;
    display: flex;
    justify-content: space-between;
}
.menu .menu__item{
    font-size: 16px;
    color: rgb(164, 107, 0);
    text-decoration: none;
}

.menu__item_active{
    border-bottom: 1px solid;
}
.main__container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 132px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main__info{
    max-width: 622px;
}
.title{
    font-size: 45px;
    font-family: MullerExtraBold,sans-serif;
    color: rgb(185, 145, 80);
    font-weight: bold;
    line-height: 1.222;
    margin: 0;
}
.title .title__text{
    color: #ffaf18;
}
.main__advantages{
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.advantages{
    max-width: 292px;
    display: flex;
    align-items: center;
    margin-top: 47px;
}
.advantages .advantage__text{
    margin-left: 16px;
}
.advantages .advantage__title{
    font-size: 16px;
    font-family: MullerExtraBold, sans-serif;
    color: rgb(255, 175, 24);
    text-transform: uppercase;
    line-height: 1.5;
}
.advantages .advantage__description{
    font-size: 16px;
    color: rgb(185, 145, 80);
    margin-top: 10px;
}
.btn{
    background-color: rgb(255, 175, 24);
    text-align: center;
    font-size: 16px;
    font-family: MullerBold, sans-serif;
    color: rgb(56, 36, 0);
    text-decoration: none;
    padding: 22px;
    box-sizing: border-box;
}
.btn:hover{
    cursor: pointer;
}
.main__action{
    margin-top: 60px;
}
.main__btn{
    width: 224px;
    display: inline-block;
}
.products__container{
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 161px;
}
.basic-title{
    font-size: 35px;
    font-family: MullerBold, sans-serif;
    color: rgb(189, 152, 92);
    text-align: center;
}
.products__items{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
    width: 282px;
    padding: 27px 20px 15px 20px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 24px;
}
.product .product__title{
    font-size: 18px;
    font-family: MullerBold, sans-serif;
    color: rgb(56, 36, 0);
    margin-top: 15px;
}
.product .product__text{
    font-size: 14px;
    color: rgb(24, 26, 26);
    line-height: 1.286;
    height: 49px;
    margin-top: 17px;
}
.product__btn{
    border: 0;
    outline: 0;
    padding: 17px 0;
    margin-top: 15px;
    width: 100%;
}
.product .product__img{
    height: 155px;
}
.order{
    overflow: hidden;
}
.order__container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 216px 0 115px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.order__text{
    max-width: 384px;
}
.medium-title{
    font-size: 35px;
    font-family: MullerExtraBold, sans-serif;
    color: #b99150;
    line-height: 1.286;
}
.medium-title__text{
    color: rgb(255, 175, 24);
}
.order__message{
    font-size: 16px;
    color: rgb(185, 145, 80);
    line-height: 1.5;
    margin-top: 65px;
}
.order__form{
    max-width: 330px;
}

.input{
    border-width: 1px;
    border-color: rgb(185, 145, 80);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    padding: 23px;
    font-size: 18px;
    box-sizing: border-box;
    outline: 0;
}
.order__input{
    width: 328px;
    margin-bottom: 24px;
}
::placeholder{
    color: rgb(203, 168, 110)
}
.order__btn{
    width: 100%;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}
.order__image{
    width: 282px;
    position: relative;
}
.order__img{
    position: absolute;
    bottom: -30px;
    left: 0;
}
.footer{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 13.8px 1.2px rgba(152, 152, 152, 0.2);
}
.footer__container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
}
.footer__rights{
    font-size: 12px;
    color: rgb(186, 179, 179);
    margin-left: 358px;
}
.header__burger{
    display: none;
}
.menu__close{
    display: none;
}